/* Setup */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Vars */
:root {
	--clr1: rgb(252, 213, 229);
	--clr2: rgb(208, 150, 166);

	--clr1bg: rgb(255, 245, 215);
	--clr1bg-light: rgb(242, 249, 255);
	
	--gray1: rgb(240, 240, 240);
	--gray2: rgb(155, 155, 155);
	--gray3: rgb(53, 52, 52);
}


/* Base */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: var(--gray3);
	background-color: var(--clr1bg-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0 .5em;
	font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
}

p {
	margin: 0 0 1em;
}

a {
	text-decoration: none;
	color: unset;
	cursor: pointer;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
	max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
	outline: 1px solid gold
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about nav {
    display: flex;
    gap: 1em;
}

.about nav a {
	margin-right: 10px;
}

button {
	cursor: pointer;
	background-color: var(--clr1);
	margin: 0.5em;
	border: 0;
	padding: 0.5em 0.8em;
	border-radius: 4px;
}

button:hover {
	background-color: var(--clr1bg-light);
	color: var(--gray3);
	transition: 0.4s;
}

input:focus {
	background-color: var(--clr1bg-light);
	transition: background-color 1s;
}


/* Helpers */

/* flex helpers */

.flex {
	display: flex;
}

.flex.flex-column {
	flex-direction: column;
}

.flex.justify-center {
	justify-content: center;
}

.flex.justify-between {
	justify-content: space-between;
}

.flex.align-center {
	align-items: center;
}

/* text helpers */

.colored-text {
	color: var(--clr1);
}

/* list helpers */

.clean-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* font awsome */

.fa {
	font-family: fa;
}

.fa.fa-facebook::before {
	content: "\f39e";
}

.fa.fa-twitter::before {
	content: "\f099";
}

.fa.fa-dribbble::before {
	content: "\f17d";
}

.fa.fa-behance::before {
	content: "\f1b4";
}

/* Layout */
.main-layout {
	display: grid;
	grid-template-columns: 1.6rem 1fr 1.6rem;
}

.main-layout>* {
	grid-column: 2;
}

.main-layout .full {
	grid-column: 1/-1;
}

.container {
	max-width: 800px;
	padding: 1em;
	margin: auto;
}



/* Components */

.home {
	font-size: 1em;
	text-align: center;
}

.home img{
	width: 100%;
}


.app-header {
	background-color: var(--clr1);
	color: var(--gray3);

}

.header-container {
	display: flex;
	align-items: center;

}

.header-container h1 {
	flex-grow: 1;
}

.app-nav {
	display: flex;
	gap: 15px;
}


a.active {
	color: rgb(216, 114, 114);
	font-weight: 600;
	text-decoration: underline;
}

.book-list {
    list-style: none;
    padding: 15px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.book-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	justify-content: space-between;
	justify-content: space-evenly;
    align-items: center;
	border-radius: 5%;
    background-color: var(--clr1);
    padding-block: 0.2em;
	box-shadow: 5px 15px 15px 5px rgb(0, 0, 0, 0.4);
}

.book-list button {
	background-color: var(--clr2);
}

.book-list button:hover {
	background-color: var(--clr1bg-light);
	color: var(--gray3);
}

.book-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.book-preview h1, h2, h3, h4 {
    text-transform: capitalize;
    color: var(--gray3);
}

.book-preview img {
    max-width: 70%;
	border-radius: 5%;
	box-shadow: 5px 4px 12px 5px rgb(0, 0, 0, 0.4);
}

.book-filter {
    background-color: var(--clr1bg);
    padding: 0.3rem 1em;
    margin-block: .5em;
    border-radius: 5%;
	box-shadow: 5px 15px 15px 5px rgb(0, 0, 0, 0.4);
}

.book-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: .3em;
}

.book-filter form button {
    margin-inline: 0
}

.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-between;
	justify-content: space-around;
	justify-content: space-evenly;
}

.book-details h1 {
    color: var(--gray3);
    font-size: 2em;
    
}

.book-details h5 {
    color: var(--clr2);
}

.book-details img {
    max-width: 75%;
    display: block;
    margin: auto;
	margin-bottom: 20px;
	border-radius: 5%;
	box-shadow: 5px 15px 15px 5px rgb(0, 0, 0, 0.4);
}

.book-details button {
	display: grid;
	margin: auto;
	border-radius: 30%;
	margin-top: 5px;
}

.book-details button:hover {
	background-color: var(--clr1bg);
}

.on-sale-sign {
	position: relative;
	right: 22%;
	background-color: #ff0000;
	color: white;
	font-size: 14px;
	font-weight: bolder;
	padding: 4px 6px;
	font-family: "Times New Roman", Times, serif;
	z-index: 10;
	box-shadow: 0px 1.5px 3px 0px black, 0px -1.5px 3px 0px black;
	border-radius: 10px 10px 10px 10px;
  }

@media (max-width: 720px) {
	.app-header {
		color: var(--clr2bg-light);
	}
}
